.landing_bg{
    background-color: #FFFFFF;
    width: 100%;
    
}
.btn_set{
    padding: 8px 20px;
    border-radius: 10px;
    background-color: #009966;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.landing_bg li{
    font-size: 18px;
    font-weight: 700;
}

li:hover{
color:#009966;
cursor: pointer;
}


.bg_set{
    background-image: url('../assets//images/bg_img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
}

.bg_overlay_set{
   
    background-color: rgb(18, 95, 65);
    opacity: 0.3;
    width: 100%;
    height: 60vh;
    
}
.img_set{
    position: absolute;
    z-index: -25;
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.bg_overlay_set h3{
    font-weight: 600;
    padding-top: 10px;
}